<h1>Stations</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @stations.each do |station| -%>
      <tr>
        <td><%= station.name %></td>
        <td><%= station.address %></td>
        <td>
          <%= link_to "Edit", edit_station_path(station), :class => "btn btn-info" %>
          <%= link_to "Delete", station, :method => :delete, :class => "btn btn-danger" %>
        </td>
      </tr>
    </tr>
    <% end -%>
  </tbody>
</table>

<%= link_to "Add a new station", new_station_path, :class => "btn btn-info" %>
