<!DOCTYPE html>
<html>
<head>
  <title>TrainsDevelopment</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid" style="margin-top: 40px">
    <div class="row-fluid">
      <div class="span2">
        <!--Sidebar content-->
        <ul class="well nav nav-list">
          <li class="nav-header">Trains app</li>
          <li><%= link_to "Welcome", root_path %></li>
          <li><%= link_to "Stations", stations_path %></li>
        </ul>
      </div>
      <div class="span10">
        <!--Body content-->
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
